{#
/**
 * @file
 * Anonymous subscription email template.
 *
 * Available variables:
 * - body: Body text of your email (HTML supported).
 * - subscription_reason_text: Explanation why user received this email.
 * - unsubscribe_url: URL for user to unsubscribe from this type of subscriptions.
 * - unsubscribe_all_url: URL for user to unsubscribe from all of his subscriptions.
 */
#}

{{ body|raw }}

<div>You got this email because you are subscribed for updates on <i>{{ subscription_reason_text }}</i></div>
<div>To unsubscribe please click <a href="{{ unsubscribe_url }}">here</a></div>
<div>To remove all your subscription please click <a href="{{ unsubscribe_all_url }}">here</a></div>
